{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div id="app-4">
    
    <ul>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="large-12 medium-12 small-12 cell" v-for="sugg in suggestions">
                    <li >
                        {% verbatim %}
                        {{ sugg.suggestion }} - {{ sugg.author }} published on {{ sugg.date }}
                        {% endverbatim %}
                        <ul>
                            <li v-for="comm in sugg.comments">
                                {% verbatim %}
                                    {{ comm.comment }} - {{ comm.author }} published on {{ comm.date }}
                                {% endverbatim %}
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </ul>
    <!-- <ul>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% for el in my_list %}
                    
                    <div class="large-4 medium-6 small-12 cell">    
                    <li>
                        {{ el.suggestion }} - {{ el.author.username }}
                    </li>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </ul> -->
   
  </div>


<!--  -->
{% if user.is_authenticated %}
<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Add Suggestion"/>
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}